@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.calendar
    width: calc( 100vw - 500px - 80px )
    height: calc( 100vh - 80px )
    display: flex
    width: 100%
    justify-content: space-between

.time
    min-width: 80px
    margin-top: 79px
    padding-top: 10px
    padding-bottom: 10px
    height:  calc( 100vh - 80px )
    display: flex
    flex-flow: column
    justify-content: space-between
    border-top: 1px solid var(--border)
    border-right: 1px solid var(--border)
    opacity: 0.75

.timeTile
    display: flex
    justify-content: flex-end
    align-items: center
    width: 100%
    color: var(--text)
    p
        text-transform: lowercase
        margin-right: 15px
        line-height: 0
    hr
        all: unset
        height: 1px
        width: 10px
        background: var(--border)

.week
    width: 100%

.weekTitle
    height: 80px
    width: 100%
    +mixins.center
    border-bottom: 1px solid var(--border)
    color: var(--text)
    p
        font-size: 1.5vh
        opacity: 0.75
    h3
        font-size: 2.25vh
        font-weight: 400

.weekContent
    width: 100%
    height: calc( 100% - 10px )
    border-right: 1px solid var(--border)
    position: relative
    margin-top: 10px

.calendarItem
    width: calc( 100% - 20px )
    left: 10px
    height: calc(100% - 11px)
    background-color: variables.$primary
    border-radius: 10px 10px
    position: absolute
    z-index: 1
    padding: 1.5vh
    h3
        font-size: 1.5vh
        font-weight: 500
        line-height: 1.5
        width: 100%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    p
        text-transform: lowercase
        line-height: 1.5
        font-size: 1.3vh
.overflownSlot:hover::before
    content: attr(data-title)
    position: absolute
    padding: 10px
    background: var(--tooltip)
    color: #fff
    font-size: 1.35vh
    z-index: 99
    width: 75%
    line-height: 1.5
    top: 4.75vh
    text-align: left
    border-radius: 7px 7px
.overflownSlot:hover::after
    content: ''
    position: absolute
    top: 2.75vh
    border: 8px solid transparent  
    border-bottom: 8px solid var(--tooltip)
    z-index: 99