@use 'src/styles/_variables'
@use 'src/styles/_mixins'
@use '../LandingPage/_main.module'

.checkout
    width: 100%
    +mixins.center
    .form
        width: 50vh
        padding: 3vh
        box-shadow: 0 0 15px rgba(0,0,0,0.075)
        border-radius: 10px 10px
        .title
            +mixins.center
            margin-bottom: 4vh
            img
                width: 7vh
            h1
                font-size: 3.5vh
                margin-top: 0.5vh
                text-transform: capitalize
            p
                font-size: 1.5vh
                margin-top: 1vh
                opacity: 0.65
                text-transform: initial
        .cname
            margin-bottom: 2.5vh
            width: 100%
        .time
            display: flex
            div
                margin-right: 3vh
            div:last-child
                margin-right: 0
        .cta
            all: unset
            +main.cta
            margin-top: 4vh
            width: 100%
            
        input::-webkit-outer-spin-button,input::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0

        input[type=number]
            -moz-appearance: textfield

@keyframes dash 
  0% 
    stroke-dashoffset: 745.74853515625
  
  100% 
    stroke-dashoffset: 0
  
.divide
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    margin-bottom: 30px
    hr
        width: 100%
        height: 1px
        background-color: rgba(var(--border), 1)
        border: none
    p
        margin: 0 1vh
        text-transform: lowercase
        color: rgba(var(--titles), 0.75)

.googlepay
    background-color: black
    color: white
    font-size: 1.5vh
    padding: 1.5vh
    border-radius: 5px 5px
    margin-bottom: 4vh
            

@media screen and (max-width: 1450px)
    .checkout
        .form
            width: calc( 100% - 24px )
            padding: 24px
            .title
                margin-bottom: 24px
                img
                    width: 60px
                h1
                    font-size: 30px
                    margin-top: 12px
                p
                    font-size: 12px
                    margin-top: 12px
            .cname
                margin-bottom: 18px
            .time
                div
                    margin-right: 18px
            .cta
                margin-top: 36px
                font-size: 14px
                height: 40px
    .divide
        p
            font-size: 12px