@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.mainSection
    width: calc( 100vw - 250px - 250px - 80px )

.journals
    width: 250px

.sideSection
    min-width: 250px
    width: 250px
    height: 100vh
    background-color: variables.$background
    border-right: 1px solid rgba(variables.$border, 0.15)

.sectionIcon
    all: unset
    height: 100%
    width: 100%
    +mixins.center
    color: variables.$secondary
    border-bottom: 1px solid rgba(variables.$border, 0.15)
    border-top: 1px solid rgba(variables.$border, 0.15)
    cursor: pointer

.sectionIcon svg
    width: 5vh
    height: 5vh
    padding: 1.25vh
    
.sectionIcon:nth-child(2)
    border-left: 1px solid rgba(variables.$border, 0.15)
    border-right: 1px solid rgba(variables.$border, 0.15)

.activeSectionIcon
    background: variables.$white

.sideSectionSlot
    width: 100%
    height: 80px
    display: flex
    align-items: center
    padding: 0 2vh
    border-bottom: 1px solid rgba(variables.$border, 0.15)
    color: variables.$secondary

.activeSectionSlot:first-child
    border-top: 1px solid rgba(variables.$border, 0.15)

.activeSectionSlot
    background: variables.$white

.bookSection
    padding: 0 3vh
    height: calc( 100vh - 80px )
    border-right: 1px solid rgba(variables.$border, 0.15)
    overflow-x: hidden
    overflow-y: auto

.noteSelect
    height: 80px
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 4vh
    border-top: 1px solid rgba(variables.$border, 0.15)
    font-size: 1.5vh
    button
        all: unset
        cursor: pointer
        color: variables.$secondary
        white-space: nowrap
        height: 80px
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center

.plusIcon
    font-size: 2vh
    font-weight: 300
    background-color: variables.$white
    color: variables.$secondary
    border-radius: 100vh 100vh
    width: 3vh
    height: 3vh
    +mixins.center
    margin-bottom: 1vh

.noteSection
    width: 100%
    height: calc( 100vh - 80px )
    display: grid
    grid-template-rows: repeat(auto-fill, minmax(40vh, 1fr))
    grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr))
    overflow-y: auto
    grid-gap: 2.5vh
    padding: 2.5vh

.note
    min-height: 40vh
    border-radius: 1.25vh 1.25vh
    background-color: variables.$white
    text-decoration: none
    color: variables.$black
    overflow: hidden
    position: relative
    cursor: pointer
    .noteLink
        height: 100%
        width: 100%
        a
            height: 100%
            width: 100%
            all: unset
        svg
            height: 2.5vh
            width: 2.5vh
        .noteContent
            padding: 2.5vh
    .noteBody
        overflow: hidden
        height: 25vh
        line-height: 1.6
        margin-top: 1vh
        -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%)
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%)
        opacity: 0.75
    .noteDate
        font-weight: 300
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        position: absolute
        bottom: 3.75vh
    .notePrompt
        line-height: 1.5
        font-size: 2.5vh
.date
    font-size: 1.25vh
    opacity: 0.5
    margin-top: 1vh
    margin-bottom: 1vh

.slotSection
    height: calc( 100vh - 80px )
    overflow-x: hidden
    overflow-y: auto

.slotSection 
    a
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
    p
        text-transform: none
        width: 100%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    svg
        width: 2vh
    .overflownSlot:hover::before
        content: attr(data-title)
        position: absolute
        padding: 10px
        background: variables.$black
        color: #fff
        font-size: 1.35vh
        z-index: 99
        width: 75%
        line-height: 1.5
        top: 70px
        text-align: left
        border-radius: 7px 7px
    .overflownSlot:hover::after
        content: ''
        position: absolute
        top: 50px
        border: 8px solid transparent  
        border-bottom: 8px solid variables.$black
        z-index: 99

.helperTextAddEntry
    height: 100%
    min-width: 24vh
    +mixins.center
    color: variables.$secondary
    p
        margin-bottom: 2.5vh
        line-height: 1.5

.helperTextAddNote
    height: calc(100vh - 80px)
    width: 100%
    +mixins.center
    flex-flow: row
    color: variables.$secondary
    p
        margin-right: 2.5vh

.helperTextEditNote
    height: 100%
    width: 100%
    +mixins.center
    color: variables.$black

.editIcon
    mix-blend-mode: color-burn
    opacity: 0.5

.removeNote
    position: absolute
    bottom: 2.5vh
    right: 3vh
    border-radius: 100%
    width: 5vh
    height: 5vh
    +mixins.center
    background-color: white
    svg
        height: 50%
        width: 50%

.moreMenuBook
    position: absolute
    bottom: 0