@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.wrapper
    overflow-y: overlay
    overflow-x: hidden
    
.auth
    width: 100%
    height: 100vh
    +mixins.center
    background-color: white
    .form
        width: 50vh
        +mixins.center
        box-shadow: 0 0 15px rgba(0,0,0,0.075)
        justify-content: space-between
        padding: 3vh
        border-radius: 10px 10px
        .title
            +mixins.center
            img
                width: 7vh
            h1
                font-size: 3.5vh
                margin-top: 0.5vh
            p
                font-size: 1.5vh
                margin-top: 1vh
                opacity: 0.65
                text-transform: initial

    .social
        width: 100%
        margin: 30px 0
        button
            width: 100%
            box-shadow: none !important
            border-radius: 7px 7px !important
            border: 1px solid rgb(var(--border)) !important
            +mixins.center
            flex-flow: row
            height: 5vh
            div
                background-color: transparent !important
                margin: 0 !important
            span
                font-size: 1.5vh
                font-weight: 400 !important

    .divide
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        margin-bottom: 30px
        hr
            width: 100%
            height: 1px
            background-color: rgba(var(--border), 1)
            border: none
        p
            margin: 0 1vh
            text-transform: lowercase
            color: rgba(var(--titles), 0.75)

    .input
        +mixins.center
        width: 100%
        a
            background-color: rgb(var(--primary))
            color: white
            width: 100%
            height: 5vh
            +mixins.center
            font-size: 1.5vh
            font-weight: 500
            border-radius: 7px 7px

    .signin
        margin-top: 30px
        p
            color: rgb(var(--titles))
            margin-bottom: 1.5vh
            font-size: 1.5vh
        a
            all: unset
            color: rgb(var(--primary))
            font-size: 1.5vh
            font-weight: 500
            cursor: pointer

@media screen and (max-width: 1450px)
    .auth
        .form
            width: calc( 100% - 24px )
            padding: 24px
            .title
                img
                    width: 60px
                h1
                    font-size: 30px
                    margin-top: 12px
                p
                    font-size: 12px
                    margin-top: 12px
        .social
            button
                height: 45px
                span
                    font-size: 14px

        .divide
            p
                font-size: 12px

        .input
            a
                height: 45px
                font-size: 14px

        .signin
            p
                margin-bottom: 12px
                font-size: 14px
            a
                font-size: 14px