@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.trustSection
    margin-top: 8vh

.statement
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 36vh
    h3
        font-size: 3vh
        font-weight: 500
        width: 35%
        line-height: 1.35
    ul
        list-style: none
        display: flex
        box-shadow: 0 2.5px 10px rgba(0,0,0,0.15)
        padding: 3vh 5vh
        border-radius: 10px 10px
        width: 60%
        justify-content: space-between
        li
            h6
                font-size: 5vh
            p
                margin-top: 0.5vh
                margin-left: 0.5vh
                font-size: 1.35vh
            .stars
                svg
                    fill: #FBD66C
                    height: 2.75vh
                    stroke: transparent
    
.logos
    padding: 8vh 36vh
    margin: 8vh 0
    background-color: rgba(var(--border), 0.35)
    border-radius: 7px 7px
    .quote
        width: 100%
        +mixins.center
        .text
            font-size: 3.5vh
            line-height: 1.35
            font-weight: 500
        .company
            font-size: 1.75vh
            margin-top: 3vh
    .options
        display: flex
        justify-content: center
        flex-flow: wrap
        margin-top: 10vh
        .company
            opacity: 0.25
            height: 11vh
            padding: 4vh

.testimonials
    padding: 0 16vh
    margin-top: 8vh
    +mixins.center
    .reviews
        display: grid
        width: 100%
        grid-template-columns: repeat(auto-fill, minmax(35vh, 1fr))
        grid-gap: 6vh
        .card
            box-shadow: 0 2.5px 7px rgba(0,0,0,0.15)
            padding: 1.5vh 3vh 12vh 3vh
            flex-flow: column
            border-radius: 0 7px 7px 0
            position: relative
            border-left: 5px solid rgb(var(--primary))
            .user
                display: flex
                position: absolute
                bottom: 1.5vh
                width: 100%
                left: 0
                align-items: center
                justify-content: flex-start
                text-align: left
                margin-left: 3vh
                .content
                    margin-left: 1.5vh
            img
                height: 7vh
                width: 7vh
                object-fit: cover
                border-radius: 100%
                background-color: rgb(var(--primary))
            .stars
                display: flex
                justify-content: center
                margin-top: 0.5vh
                svg
                    fill: rgb(var(--primary))
                    stroke: transparent
                    margin: 0 0.2vh
                    height: 2.75vh
                    width: 2.75vh
            h6
                font-size: 1.5vh
                font-weight: 400
                margin-left: 0.5vh
                color: rgba(var(--text), 0.7)
            h3
                font-size: 1.65vh
            p
                font-size: 1.45vh
                line-height: 1.75
                color: rgba(var(--text), 0.65)
                text-align: left



@media screen and (max-width: 1450px)
    .trustSection
        margin-top: 3vh
    .statement
        padding: 0 3vh
        flex-flow: column-reverse
        text-align: center
        h3
            font-size: 3.5vh
            width: 100%
            text-align: left
            margin-top: 10vh
        ul
            width: 100%
            margin-top: 0vh
            flex-flow: column
            padding: 0
            background-color: transparent
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr))
            grid-gap: 3vh
            box-shadow: none
            li
                margin: 3vh 0
                box-shadow: 0 2.5px 7px rgba(0,0,0,0.15)
                height: 100%
                min-height: 20vh
                width: 100%
                +mixins.center
                border-radius: 7px 7px
                .stars
                    svg
                        height: 3.5vh
                        width: 3.5vh

    .testimonials
        padding: 0 3vh
        margin-top: 6vh
        .reviews
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr))
            grid-gap: 8vh
            .card
                .stars
                    svg
                        height: 3.5vh
                        width: 3.5vh


    .logos
        padding: 8vh 3vh
        margin: 8vh 0
        .quote
            width: 100%
            +mixins.center
            .text
                font-size: 3.5vh
                line-height: 1.35
                font-weight: 500
            .company
                font-size: 1.75vh
                margin-top: 3vh
        .options
            margin-top: 5vh
            .company
                height: 9vh
                padding: 3vh