@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.features
    +mixins.center
    text-align: left
    padding: 0 5vw
    .list
        display: grid
        grid-template-columns: 1fr 1fr
    .subhero:nth-child(2)
        flex-flow: row-reverse
    .subhero
        display: flex    
        justify-content: space-between
        align-items: center
        margin-top: 80px
        h2
            font-size: 3vw
            line-height: 1.4
        .feature
            margin-top: 36px
            .content
                margin: 0
            h3
                font-size: 1.5vw
                margin-bottom: 12px
            p
                line-height: 1.7
                font-size: 16px