@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.notes
    li
        list-style: none
        border-left: 1px solid rgb(var(--text), 0.15)
        padding-left: 1vh
        margin: 1.5vh 0
        line-height: 1.75
        font-weight: 100