@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.textEditor:empty:before
    content: attr(data-placeholder)
    opacity: 0.3

.textEditor
    height: calc(90vh - 5vh)
    background-color: variables.$white
    margin: 2.5vh
    padding: 3vh
    box-sizing: border-box
    border: none
    outline: none
    overflow: hidden
    overflow-y: auto
    color: variables.$black
    font-size: 1.5vh
    line-height: 2
    p  
        font-size: 1.5vh
    h1
        line-height: 1.25
        font-size: 6vh
    h3
        line-height: 1.5
        font-size: 3vh
