@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.header
    display: none
    height: 60px
    width: 100%
    position: fixed
    top: 0
    background-color: rgb(var(--sideBar))
    z-index: 9
    justify-content: space-between
    padding-right: 12px
    align-items: center
    color: rgb(var(--titles))
    p
        font-size: 21px
    svg
        height: 45px
        padding: 10px
        width: fit-content
        cursor: pointer
        line
            pointer-events: none
    .options
        display: flex
        align-items: center
        height: 100%
        div
            height: 100%
    .options:first-child
        svg
            margin-left: 0
            padding-right: 20px
            padding-left: 12px !important
            line
                pointer-events: none
    .moremenu
        margin-right: -8px
        padding-right: 0 !important
        svg
            margin-right: 0
            padding-right: 0 !important

@media screen and (max-width: 1450px)
    .header
        display: flex