@use 'src/styles/_variables'
@use 'src/styles/_mixins'
@use '../../_main.module'

.footer
    position: relative
    pointer-events: none
    margin-top: 8vh
    .card
        color: rgb(var(--text))
        +mixins.center
        img
            height: 10vh
            margin-bottom: 3vh
        h3
            font-size: 4.25vh
            font-weight: 500
        p
            font-size: 1.75vh
            margin: 2vh 0
            color: rgba(var(--titles), 1)
            text-transform: none
        button
            +main.cta
            margin-top: 3vh
        .icons
            width: 100%
            margin: 2vh 0
            img
                border-radius: 10px 10px
                margin: 1.5vh
                height: 8vh
                width: 8vh
    .bottom
        margin-top: 3vh
        padding: 3vh
        display: flex
        background-color: rgba(var(--border), 0.35)
        color: rgba(var(--titles), 1)
        align-items: center
        justify-content: space-between
        .nav
            display: flex
            align-items: center
            p
                font-size: 1.35vh
            div
                margin-right: 3vh
                display: flex
                align-items: center
                font-size: 1.35vh
                svg
                    margin-right: 0.5vh
                    height: 2vh
        img 
            height: 3.5vh
            margin-right: 3vh

@media screen and (max-width: 1450px)
    .footer
        .card
            h3
                width: 90%
                font-size: 3.5vh
            p
                font-size: 1.5vh
            .icons
                img
                    height: 10vh
                    width: 10vh
        .bottom
            flex-flow: column
            .nav:first-child
                margin-bottom: 1.5vh