@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.eventDateWrapper
    display: flex
    align-items: center
    position: relative
    .eventDateBlock
        background-color: rgba(var(--text), 1)
        color: rgb(var(--sideSlot))
        padding: 1.5vh
    .eventDateDay
        font-size: 4.5vh
        font-weight: 100
        line-height: 1
        margin-bottom: 0.5vh
    .eventDate
        opacity: 0.75
        font-size: 1.5vh
    .eventTime
        font-size: 1.5vh
        text-transform: lowercase
    .eventTagLine
        position: absolute
        bottom: 1.5vh
        right: 1.5vh

.timer
    display: grid
    grid-template-columns: repeat(2, minmax(10vh, 1fr))
    grid-template-rows: repeat(2, minmax(10vh, 1fr))
    .timerBlock
        width: 100%
        height: 100%
        +mixins.center
        div
            font-size: 4.5vh
            font-weight: 100
        span
            font-size: 1.5vh
            margin-top: 0.5vh
.detailsWrapper
    .details
        color: rgb(var(--text))

.eventSection
    padding-top: 0
    .tags
        margin-bottom: -1vh