@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.timer
    display: flex
    justify-content: space-between
    margin-top: 1.5vh
    .timerBlock
        +mixins.center
        div
            font-size: 3vh
            font-weight: 100
        span
            font-size: 1.35vh
            margin-top: 0.5vh
            opacity: 0.75
.detailsWrapper
    .details
        color: rgb(var(--text))
        white-space: normal
        line-height: 1.75
        font-size: 1.5vh

.eventSection
    overflow-x: hidden
    overflow-y: overlay
    height: 100vh
    .tags
        margin-bottom: -1.5vh
        margin-top: 1.5vh
    h3
        display: flex
        flex-flow: column
        font-size: 3vh
        font-weight: 400
        .eventTitle
            display: flex
            align-items: center
        .colorTag
            width: 20px
            height: 20px
            background-color: rgb(var(--primary))
            margin-right: 12px
            border-radius: 4px 4px
    .eventDate
        font-size: 1.5vh
        line-height: 1.5
        margin-top: 1vh
        opacity: 0.75
    .title
        font-size: 1.5vh
        color: rgba(var(--text), 0.5)
        display: flex
        align-items: center
        margin-top: 1.5vh
        svg
            height: 24px
            width: 24px
        span
             margin-left: 12px


@media screen and (max-width: 1450px)
    .timer
        margin-bottom: 0
        margin-top: 0
        .timerBlock
            margin-right: 10px
            flex-flow: row
            div
                font-size: 14px
            span
                font-size: 14px
                margin-top: 0
                margin-left: 4px
                opacity: 1

    .eventTimerSection
        margin-top: 14px
    
    .eventSection
        .tags
            margin-top: 12px
            margin-bottom: -12px
            padding-left: calc( 20px + 30px  )
        h3
            font-size: 26px
            .colorTag
                margin-right: 30px
        .eventDate
            font-size: 14px
            margin-top: 6px
            margin-left: calc( 20px + 30px  )
        .title
            font-size: 14px
            margin-top: 0
            margin-right: 30px
            width: fit-content
            svg
                height: 24px
                width: 24px
                stroke-width: 1.5
            span
                display: none

    .detailsWrapper
        display: flex
        align-items: flex-start
        justify-content: flex-start
        margin-top: 12px
        .details
            font-size: 14px
        .title
            margin-top: 6px
            svg
                height: 26px
                width: 26px