@use './variables'

=center
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    flex-flow: column

=text
    color: variables.$black
    line-height: 2.3
    font-size: 1.5vh

=titleText
    color: variables.$black
    line-height: 1.5
    font-size: 3vh