$primary: #7ED956
$secondary: #9BAAD3

$black: #393D46
$white: #EFF1F8
$background: #FFFFFF
$border: #393D46

.dark
    --background: #1b1e25
    --text: #EFF1F8
    --border: #2e303b
    --tooltip: #393D46
    --activeSlot: #212531
    --sideBar: #1f222c
    --textEditor: #393D46
    --prompts: #4e5a7a
    --addBtn: #14171b
    --overlay: rgba(0, 0, 0, 0.25)
    --lightrgb: 71, 75, 84
    --addBtnBorder: #2e303b

.light
    --background: #FFFFFF
    --text: #393D46
    --border: #dfdfdf
    --tooltip: #393D46
    --activeSlot: #EFF1F8
    --sideBar: #EFF1F8
    --textEditor: #EFF1F8
    --prompts: #9BAAD3
    --addBtn: #393D46
    --overlay: rgba(155, 170, 211, 0.25)
    --lightrgb: 159, 166, 181
    --addBtnBorder: #2e303b