@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.features
    +mixins.center
    text-align: left
    .list
        display: grid
        grid-template-columns: 1fr 1fr
    .subhero:nth-child(2)
        flex-flow: row-reverse
    .subhero
        display: flex    
        justify-content: space-between
        align-items: center
        width: 70%
        margin-top: 100px
        .content
            margin: 0 24px
        h2
            font-size: 48px
            line-height: 1.5
        .feature
            margin-top: 36px
            .content
                margin: 0
            h3
                font-size: 24px
                margin-bottom: 12px
            p
                line-height: 1.7
                font-size: 16px