@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.featureSection
    +mixins.center
    margin-top: 8vh
    h2
        color: rgba(var(--text), 0.75)
        font-size: 2.5vh

.wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 16vh
    width: 100%
    margin-top: 3vh
    .icons
        width: 6%
        padding: 0.5%
        div
            margin: 0.5vw 0
            +mixins.center
            border-radius: 7px 7px
            padding: 0.25vw 0.25vw 0.25vw 1vw
        img
            width: 100%
            border-radius: 7px 7px
            cursor: pointer
        .activeIcon
            box-shadow: 0 5px 10px rgba(0,0,0,0.15)
    .features
        width: 19%
        .feature
            padding: 1.5vw 1vw
            margin: 1vw 0
            cursor: pointer
            border-left: 3px solid rgb(var(--primary))
            box-shadow: 1.5px 3px 10px rgba(0,0,0,0.075)
            border-radius: 0 7px 7px 0
            .title
                display: flex
                align-items: center
                svg
                    height: 1.15vw
                    width: 1.15vw
                    color: rgb(var(--primary))
                h3
                    font-size: 0.8vw
                    margin-left: 0.75vw
                    font-weight: 400
                    color: rgb(var(--titles))
                    text-align: left
                    line-height: 1.5
        .activeFeature
            background-color: rgb(var(--primary))
            border: none
            border-radius: 7px 7px
            .title
                svg
                    color: white
                h3
                    color: white
    .content
        width: 70%
        background-color: rgb(var(--primary))
        +mixins.center
        padding: 2vw
        box-shadow: 0 0 10px inset rgba(0,0,0,0.15)
        border-radius: 10px 10px
        img
            width: 100%
            box-shadow: 0 0 10px rgba(0,0,0,0.15)
            border-radius: 10px 10px


@media screen and (max-width: 1450px)
    .wrapper
        flex-flow: column-reverse
        padding: 0
        .icons
            width: 100%
            padding: 1.5vh 3vh
            display: grid
            grid-template-columns: repeat(5, 1fr)
            grid-gap: 1.5vh
            div
                padding: 1.5vw 1.5vw 3vw 1.5vw
            img
                width: 100%
        .features::-webkit-scrollbar
            height: 0
        .features
            width: 100%
            display: flex
            overflow-x: overlay
            .feature
                margin-left: 3vh
                padding: 2vh 3vh 2vh 1.5vh
                margin-top: 3vh
                .title
                    svg
                        height: 4vw
                        width: 4vw
                    h3
                        font-size: 2.5vw
                        margin-left: 2vw
                        white-space: nowrap
            .feature:last-child
                margin-right: 3vh
        .content
            width: calc( 100% - 6vh )
            padding: 3vw