@use 'src/styles/variables'
@use 'src/styles/mixins'

header
    height: 10vh
    min-height: 10vh
    width: 100%
    border-bottom: 1px solid rgba(variables.$black, 0.15)
    display: flex
    align-items: center
    justify-content: space-between
    color: variables.$black
    padding: 2.5vh

header button   
    all: unset
    cursor: pointer
    height: 100%
    margin-right: 3vh

header button:last-child
    margin-right: 0

header p
    line-height: 0
    display: flex
    align-items: center

header svg
    height: 1.75vh

.date
    font-size: 1.25vh