@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.pricing
    padding-top: 120px
    overflow-x: hidden
    overflow-y: overlay
    display: flex
    flex-flow: column
    align-items: center
    .title
        width: 100%
        +mixins.center
        h1
            font-size: 55px
            span
                text-transform: capitalize
        p
            font-size: 20px
            margin-top: 24px
            opacity: 0.75
    
.plans
    display: grid
    grid-template-columns: repeat(auto-fill, 500px)
    grid-gap: 50px
    width: 100%
    justify-content: center
    margin-top: 50px

@media screen and (max-width: 500px)
    .plans
        padding: 12px
        margin-top: 48px
        display: flex
        flex-flow: column
        align-items: center
        width: 100%

@media screen and (max-width: 639px)
    .pricing
        padding-top: 110px
        .title
            h1
                font-size: 36px
                line-height: 1.35
                font-weight: 500
            p
                font-size: 16px
                margin-top: 14px