@use 'src/styles/_variables'
@use 'src/styles/_mixins'
@use '../../_main.module'

.cta
    +main.cta

.sub
    font-size: 1.25vh
    opacity: 0.5
    width: 100%
    text-align: center
    margin: 0
    margin-top: 0.7vh

@media screen and (max-width: 1450px)
    .cta
        font-size: 16px
        width: 200px
        height: 50px
    .sub    
        font-size: 14px
        margin-top: 12px