@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.textEditorHeader
    justify-content: space-between 

.textOptions
    display: flex

.textSizeDropDown
    position: relative
    cursor: pointer
    p
        background-color: variables.$white
        line-height: 1
        display: flex
        justify-content: space-between
        align-items: center
        width: 20vh
        height: 5vh
        padding: 0 2.5vh
    ul
        list-style: none
        position: absolute
        padding: 0
        margin: 0
        background-color: variables.$white
        color: variables.$black
        box-shadow: 0 5px 10px rgba(variables.$black, 0.1)
        width: 100%
        z-index: 9
        li
            height: 5vh
            padding: 0 2.5vh
            border-bottom: 1px solid rgba(variables.$black, 0.15)
            display: flex
            justify-content: space-between
            align-items: center
        li:first-child
            border-top: 1px solid rgba(variables.$black, 0.15)

.textStyleOptions
    display: flex
    list-style: none
    padding: 0
    margin: 0
    margin-left: 2vh
    li
        height: 5vh
        width: 5vh
        border: 1px solid rgba(variables.$black, 0.15 )
        border-left: none
        +mixins.center
        cursor: pointer
    li:first-child
        border-left: 1px solid rgba(variables.$black, 0.15 )

.list
    margin-left: 2vh
    height: 5vh
    width: 5vh
    padding: 1.25vh
    border: 1px solid rgba(variables.$black, 0.15 )
    +mixins.center
    cursor: pointer

.colors
    list-style: none
    display: flex
    li
        height: 3vh
        width: 3vh
        margin-left: 2vh
        border-radius: 100%
        cursor: pointer