@use 'src/styles/_variables'
@use 'src/styles/_mixins'
@use '../../_main.module'

.header
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    color: #545454
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 rgba(var(--titles), 0.15)
    padding: 1vh 3vh
    background-color: rgb(var(--background))
    color: rgb(var(--titles))
    position: fixed
    top: 0
    font-size: 1.35vh
    z-index: 9
    .navigation
        display: flex
        .logo
            display: flex
            margin-right: 40px
            hr
                border: none
                outline: none
                width: 2px
                height: 100%
                background-color: rgba(var(--text), 0.65)
                margin: 0 40px
            img
                height: 2vh
        .navItem
            +mixins.center
            margin-left: 15px
            margin-right: 15px
    .cta
        display: flex
        align-items: center
        .ctaBtn
            +main.cta
            margin-left: 20px
        .login
            color: rgb(var(--titles))
            cursor: pointer
            position: relative
            font-weight: 400
            border-radius: 7px 7px 
            height: 5vh
            +mixins.center
            transition: 0.1s
            font-size: 1.5vh
            padding: 0 1.5vh
        .login:hover
            background-color: rgba(var(--primary), 0.1)
            border-color: rgb(var(--primary))
        
@media screen and (max-width: 1450px)
    .header
        padding: 12px
        .navigation
            .navItem
                display: none
            .logo
                margin-right: 0
                img
                    height: 20px
        .cta
            height: 40px
            width: 180px
            .login
                display: none
            .ctaBtn
                margin-left: 0
                font-size: 16px