@use 'src/styles/_variables'
@use 'src/styles/_mixins'

.noteEditor
    width: 100%
    position: relative

.textEditor:empty:before
    content: attr(data-placeholder)
    opacity: 0.3

.textEditor
    height: calc(100vh - 80px - 2vh)
    background-color: rgb(var(--textEditor))
    margin: 0 2.5vh
    padding: 3vh
    padding-top: 10vh
    box-sizing: border-box
    border: none
    outline: none
    overflow: hidden
    overflow-y: overlay
    color: rgb(var(--titles))
    font-size: 1.5vh
    line-height: 2
    -webkit-user-select: text
    user-select: text
    width: calc( 100% - 5vh )
    display: inline-block
    pointer-events: none
    div
        pointer-events: all
    ul
        pointer-events: all
    span
        font-size: inherit !important
        pointer-events: all
    p  
        font-size: 1.5vh
        margin: 0
        pointer-events: all
        span
            font-size: inherit !important
    h1
        line-height: 1.25
        font-size: 6vh
        margin-left: -1vh
        margin: 0
        pointer-events: all
        span
            font-size: inherit !important
        li
            margin-left: 4.5vh
    h3
        line-height: 1.5
        font-size: 3vh
        margin-left: -0.25vh
        margin: 0
        pointer-events: all
        span
            font-size: inherit !important
        li
            margin-left: 2.65vh
    li
        margin-left: 2vh
        pointer-events: all

.saveStatus
    position: absolute
    top: 0


@media screen and (max-width: 1450px)
    .textEditor
        margin: 12px
        padding: 50px 12px 12px 12px
        font-size: 12px
        opacity: 0
        width: calc( 100% - 24px - 24px )
        box-sizing: content-box
        scroll-behavior: smooth
        p  
            font-size: 12px
            margin: 0
        h1
            font-size: 36px
            margin-left: 0
            li
                margin-left: 28px
        h3
            font-size: 24px
            margin-left: 0
            li
                margin-left: 20px
        li
            margin-left: 13px