@use 'src/styles/_variables'
@use 'src/styles/_mixins'
@use 'src/_main'

.mainSection
    width: calc( 100vw - 250px - 250px - 80px )

.journals
    display: flex
    --primary: 255,64,182

.journalBooks
    width: 250px

.sideSection
    min-width: 250px
    width: 250px
    height: 100vh
    background-color: rgb(var(--background))
    border-right: 1px solid rgb(var(--border))

.sectionIcon
    all: unset
    height: 100%
    width: 100%
    +mixins.center
    color: rgb(var(--secondary))
    border-bottom: 1px solid rgb(var(--border))
    border-top: 1px solid rgb(var(--border))
    cursor: pointer

.sectionIcon svg
    width: 5vh
    height: 5vh
    padding: 1.25vh
    
.sectionIcon:nth-child(2)
    border-left: 1px solid rgb(var(--border))
    border-right: 1px solid rgb(var(--border))

.activeSectionIcon
    background: rgb(var(--background))

.sideSectionSlot
    width: 100%
    height: 80px
    display: flex
    align-items: center
    padding: 0 2vh
    border-bottom: 1px solid rgb(var(--border))
    color: rgb(var(--colorTitles))

.activeSectionSlot:first-child
    border-top: 1px solid rgb(var(--border))

.activeSectionSlot
    background: rgb(var(--activeSlot))

.bookSection
    padding: 0 3vh
    height: calc( 100vh - 80px )
    border-right: 1px solid rgb(var(--border))
    overflow-x: hidden
    overflow-y: overlay

.noteSelect
    height: 80px
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 4vh
    border-top: 1px solid rgb(var(--border))
    font-size: 1.5vh
    button
        all: unset
        cursor: pointer
        color: rgba(var(--colorTitles), 1)
        white-space: nowrap
        height: 80px
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center

.plusIcon
    font-size: 2vh
    font-weight: 300
    background-color: rgb(var(--background))
    color: rgb(var(--secondary))
    border-radius: 100vh 100vh
    width: 3vh
    height: 3vh
    +mixins.center
    margin-bottom: 1vh

.noteSection
    width: 100%
    height: calc( 100vh - 80px )
    display: grid
    grid-template-rows: repeat(auto-fill, minmax(40vh, 1fr))
    grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr))
    overflow-y: overlay
    grid-gap: 2.5vh
    padding: 2.5vh

.note
    min-height: 40vh
    border-radius: 1.25vh 1.25vh
    background-color: rgb(var(--background))
    text-decoration: none
    color: rgb(var(--noteText))
    overflow: hidden
    position: relative
    cursor: pointer
    .noteLink
        height: 100%
        width: 100%
        a
            all: unset
        svg
            height: 2.5vh
            width: 2.5vh
        .noteContent
            padding: 2.5vh
            overflow: hidden
            height: calc(100% - 8vh)
    .noteBody
        line-height: 1.9
        margin-top: 1vh
        opacity: 0.75
        font-size: 1.5vh
        span
            font-size: inherit !important
            line-height: inherit !important
    .noteDate
        font-weight: 300
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        position: absolute
        bottom: 3.75vh
    .notePrompt
        line-height: 1.5
        font-size: 3.5vh
        font-weight: 400
.date
    font-size: 1.25vh
    opacity: 0.5
    margin-top: 1vh
    margin-bottom: 1vh

.slotSection
    height: calc( 100vh - 80px )
    overflow-x: hidden
    overflow-y: overlay

.slotSection 
    a
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
    p
        text-transform: none
        width: 100%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    svg
        width: 2vh
    .overflownSlot:hover::before
        content: attr(data-title)
        position: absolute
        padding: 10px
        background: rgb(var(--tooltip))
        color: #fff
        font-size: 1.35vh
        z-index: 99
        width: 75%
        line-height: 1.5
        top: 70px
        text-align: left
        border-radius: 7px 7px
    .overflownSlot:hover::after
        content: ''
        position: absolute
        top: 50px
        border: 8px solid transparent  
        border-bottom: 8px solid rgb(var(--tooltip))
        z-index: 99

.helperTextAddEntry
    height: 100%
    min-width: 24vh
    +mixins.center
    color: rgb(var(--titles))
    p
        margin-bottom: 2.5vh
        line-height: 1.5

.helperTextAddNote
    height: calc(100vh - 80px)
    width: 100%
    +mixins.center
    flex-flow: row
    color: rgb(var(--titles))
    p
        margin-right: 2.5vh

.helperTextEditNote
    height: 100%
    width: 100%
    +mixins.center
    color: black

.editIcon
    mix-blend-mode: color-burn
    opacity: 0.5

.removeNote
    position: absolute
    bottom: 2.5vh
    right: 3vh
    border-radius: 100%
    width: 5vh
    height: 5vh
    +mixins.center
    background-color: white
    svg
        height: 50%
        width: 50%

.moreMenuBook
    position: absolute
    bottom: 0

@media screen and (max-width: 1450px)
    .journals
        flex-flow: column-reverse
        height: calc( 100vh - 80px )
    .mainSection
        width: calc( 100% - 80px )
        height: calc( 100vh - 80px )
        overflow-y: overlay
    .journalBooks
        width: 100%
        position: fixed
        top: 60px
        height: calc( 100vh - 80px - 60px )
        z-index: 3
        background-color: rgb(var(--background))
        transform: translateX(0%)
    .bookSection
        height: 100%
        width: 100%
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr))
        grid-template-rows: repeat(auto-fill, minmax(25vh, 1fr))
        justify-content: flex-start
        align-items: flex-start
    .sideSection
        width: 100%
        position: fixed
        top: 60px
        height: calc( 100vh - 80px - 60px )
        z-index: 2
        transform: translateX(-100%)
    .slotSection
        height: calc( 100vh - 80px - 60px )
    .noteSelect
        padding: 0
        padding-left: 3vh
        overflow-x: overlay
        position: fixed
        bottom: 80px
        background-color: rgb(var(--background))
        width: calc( 100% - 80px )
        button
            min-width: 90px
    .note
        .noteLink
            .noteContent
                height: calc(100% - 8.75vh)
    .helperTextAddEntry
        position: absolute
        width: calc( 100% - 6vh )
        svg
            display: none
        p
            margin: 0