@use 'src/styles/_mixins'
@use 'src/styles/_variables'

.sideSectionSlot
    width: 100%
    height: 80px
    padding: 2vh
    border-bottom: 1px solid var(--border)
    color: variables.$secondary
    position: relative
    flex-flow: column
    .slotContent
        display: flex
        align-items: center
        width: 100%
    .projectIcon
        svg
            min-width: 2.5vh
            width: 2.5vh
            stroke-width: 1.5px
    p
        margin-left: 1vh
        text-transform: capitalize

.activeSectionSlot
    background: var(--activeSlot)

.moreMenuWrapper
    margin-left: 1vh

.progress
    width: 100%
    position: relative
    height: 3px
    background-color: rgba(var(--lightrgb), 0.25) 
    margin-top: 1.5vh
    hr
        border: none
        outline: none
        height: 3px
        width: 0%
        background-color: variables.$secondary
    .progressNum
        position: absolute
        left: -2vh
        bottom: 0